node-red/.flows.json.backup
[{"id":"27c9d7ad.563638","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1fcde932.a29d27","type":"server","z":"","name":"Home Assistant"},{"id":"c4e6b808.b0e678","type":"server-state-changed","z":"27c9d7ad.563638","name":"","server":"1fcde932.a29d27","version":1,"entityidfilter":"light.kantoor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":250,"y":400,"wires":[["5c566538.5bb2ac"]]},{"id":"5c566538.5bb2ac","type":"switch","z":"27c9d7ad.563638","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":400,"wires":[["ee1d9917.8d3298"],["149b7e36.296e22"]]},{"id":"ee1d9917.8d3298","type":"api-call-service","z":"27c9d7ad.563638","name":"","server":"1fcde932.a29d27","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.burolamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":360,"wires":[[]]},{"id":"149b7e36.296e22","type":"api-call-service","z":"27c9d7ad.563638","name":"","server":"1fcde932.a29d27","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.burolamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":440,"wires":[[]]}]